body {
    background: #BFAB99;
}

.recipes-list {
    max-width: 1120px;
    margin: auto;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 20px 100px 20px;
}

.recipe-list-container {
    margin: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid #A62D43;
    padding: 10px;
}

.recipe-link {
    text-decoration: none;
}

.recipe-list-image {
    width: 350px;
    height: auto;
}

.page-title {
    text-align: center;
    padding-bottom: 50px;
    color: #A62D43;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
}

.recipe-list-description {
    color: #424E59;
}

.recipe-list-title {
    font-size: 1.5rem;
    color: #F24C27;
}

/* Recipes */

.recipe-container {
    margin: 0 auto;
    max-width: 600px;
    border: 1px solid #A62D43;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-intro-container {
    text-align: center;
}

.ingredients-container {
    text-align: left;
    align-self: start;
}

.ingredients-container > h3,
.steps-container > h3 {
    font-size: 1.5rem;
    color: #F24C27;
}

.main-recipe-img {
    width: 500px;
    height: auto;
    margin: auto;
    border-radius: 20px;
}

.recipe-title {
    font-size: 2rem;
    color: #A62D43;
}

.home-button {
    margin-top: 30px;
    padding: 10px 30px;
    background: #F29B30;
    border-radius: 5px;
    color: #424E59;
    text-decoration: none;
}

.home-button:hover {
    background: #F24C27;
    color: #ffffff;
}